section
{
   background: cadetblue ;
    background-attachment: fixed;
    background-size: cover;
     background-position: center center;
}
.q
{
   background:  linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5));
   color: white;
}
section .q h1
{
    font-size: 50px;
    font-weight: 800;
    font-family: math;

}
section .q p{
    font-size: 25px;
}

section .q #button
{
    font-size: 40px;
    font-family: fantasy;
}
section .q h3
{
    font-size: 30px;
    font-weight: 300;
    letter-spacing: 1.2px;
}